@tailwind base;
@tailwind components;
@tailwind utilities;





/* Add yo css to your global stylesheet (e.g., index.css) */

.nav-link {
    position: relative;
    cursor: pointer;
    color: inherit; /* Default text color */
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #3b82f6; /* Tailwind's blue-500 color */
    transition: width 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #3b82f6 !important; /* Hover text color - blue */
  }
  
  .nav-link:hover::after,
  .nav-link:focus::after {
    width: 100%;
  }


  html {
    scroll-behavior: smooth;
  }
  
  